extends layout

block append head
    title= title
    script(src='/javascripts/index.js')
block content
  .container
      .alert.alert-danger
      form(method='POST' action='/add' enctype='multipart/form-data')
        .form-group.row
            label.col-2.col-form-label 测试案例名称
            .col-10
                input.form-control(name="name")
        .form-group.row
                    label.col-2.col-form-label POC项目地址
                    .col-10
                        input.form-control(name="project_url")
        .form-group.row
            label.col-2.col-form-label 上传测试案例文件
            .col-10
                label.custom-file
                    input(type="file" id="file" accept=".js" name='case' multiple)



        .form-group.row
                    button.btn.btn-success.btn-block(onclick='add(event)') 提交



