doctype html
html
  head
    block head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-toggleable-md.navbar-light
        div.container
            a.navbar-brand.text-white(href="/") 启动测试
            a.navbar-brand.text-white(href="/add") 新增测试案例
    block content
