doctype html
html
  head
    block head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-toggleable-md.navbar-light
        div.container
            a.navbar-brand.text-white(href="/") 首页
            a.navbar-brand.text-white(href="/add") 新增案例
            a.navbar-brand.text-white(href="/devices") 设备配置
            a.navbar-brand.text-white(href="/cases") 测试报告
            a.navbar-brand.text-white(href="/pull") 更新案例库
    block content
