extends layout

block append head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/start.js')
block content
  .container
      .alert.alert-danger
      .progress
        .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")




